@import-normalize; /* bring in normalize.css styles */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 1.1;
  color: #2e2304;
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}